name: Dependabot Auto-Merge

on:
  pull_request:
    paths:
      - package-lock.json

jobs:
  dependabot-auto-merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ahmadnassri/action-dependabot-auto-merge@v2
        with:
          command: "squash and merge"
          target: minor
          github-token: ${{ secrets.GH_RATEHUB_MACHINE_TOKEN }}
